@use '../../root' as *;
@use '../../utilities' as *;

.testimonial1 {
    &-card {
        padding: 70px 110px 60px 70px;
        border-radius: 14px;
        background: #E6F6F5;
        box-shadow: 0px -10px 0px 0px #B3D5D3 inset;
        @include breakpoint (max-lg){
            padding: 50px;
        }
        @include breakpoint (max-sm){
            padding: 30px;
        }
        @include breakpoint (max-xs){
            padding: 20px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            @include breakpoint (max-sm){
                flex-direction: column;
                width: fit-content;
            }
            &__star {
                i {
                    color: #FFB34E;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
            }
        }
        &-content {
            &__desc {
                color: $title-color;
                font-family: $body-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 41px; 
                opacity: 0.7;
                padding-bottom: 54px;
                @include breakpoint (max-sm){
                    font-size: 18px;
                    line-height: 34px;
                }
            }
        }
        &__thumb {
            border-radius: 10px;
            img {
                border-radius: 10px;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
    }
}

  