@use '../../root' as *;
@use '../../utilities' as *;

.blog1 {
    &-card {
        display: flex;
        gap: 50px;
        &:not(:last-child) {
            padding-bottom: 40px;
        }
        @include breakpoint (max-xl){
            gap: 30px;
        }
        @include breakpoint (max-lg){
            flex-direction: column;
        }
        &-thumb {
            flex: none;
            @include breakpoint (max-lg){
                img {
                    width: 100%;
                }
            }

        }
        &-content {
            display: flex;
            justify-content: space-between;
            gap: 137px;
            border-top: 1px solid rgba(31, 31, 31, 0.14);
            @include breakpoint (max-xl){
                gap: 35px;
            }
            @include breakpoint (max-xl){
                gap: 30px;
            }
            @include breakpoint (max-lg){
                border-top: none;
            }
            @include breakpoint (max-sm){
                border-top: none;
                gap: 12px;
                flex-direction: column;
            }

            &-header {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @include breakpoint (max-sm){
                    flex-direction: column-reverse;
                    gap: 10px;
                }
                &__title {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 34px; 
                    padding-bottom: 100px;
                    @include breakpoint (max-sm){
                        padding-bottom: 0px;
                    }
                }
                &-meta {
                    display: flex;
                    gap: 24px;
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    opacity: 0.6;
     
                    &__calendar {
                        i {
                            padding-right: 5px;
                        }
                    }
                    &__comment {
                        i {
                            padding-right: 5px;
                        }
                    }
                }
            }
            &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &__desc {
                    color: rgba(31, 31, 31, 0.70);
                    font-family: $body-font;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    max-width: 435px;
                    padding-bottom: 112px;
                    @include breakpoint (max-sm){
                        padding-bottom: 20px;
                    }
                }
                &__link {
                    align-self: end;
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    img {
                        padding-left: 10px;
                    }
                    @include breakpoint (max-sm){
                        align-self: start;
                    }
                }
            }
        }
    }
}
